body{
    background-color: #ced6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

.serv{
    color: rgb(12, 134, 158);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: rgb(142, 140, 139);
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,115px);
    grid-gap: 20px;
}

.contenedor div{
    text-align: left;
    padding: 10px;
}

i{
    border-radius: 60%;
    font-size: 30px;
    background-color: rgb(12, 134, 158);
    color: white;
}

h2{
    font-size: 20px;
}