body{
    background-color: #ced6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}